body {
	background: url('images/orion.jpg') 50% fixed;
	overflow-x: hidden;
}


#welcome{
	width:500px;
	height:1600px;
	position: relative;
	left: 30%;
	background: url('images/welcome.png') 50% 0 no-repeat fixed;
	z-index: 3;
}

#aboutme{
	position: absolute;
	left: 3%;
	width: 500px;
	height: 500px;
	z-index: 3;
	background: url('images/aboutme2.png') no-repeat;
}

#links{
    position: absolute;
    top: 2300px;
    width: 1000px;
    height: 450px;
    overflow: hidden;
}

@-moz-keyframes spin {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}

#links img{
	z-index:2;
	position: absolute;
	animation: spin 10s linear infinite;
	margin-top: -100px;
}


#links a{
	font-family: Arial;
	font-size: 25pt;
	font-weight: bold;
	color: white;
	text-decoration: none;
	background: black;
	padding: 10px 30px;
	display: block;
	margin-top: 20px;
	width: 150px;
	text-align: center;
	z-index:3;
	
	transition: background 0.5s;
	-moz-transition: background 0.5s; /* Firefox 4 */
	-webkit-transition: background 0.5s; /* Safari and Chrome */
	
	position: relative;
}

#links a:hover{
	background: rgba(1,1,1,0);
}

@keyframes slide1
{
	0% {left:50%;}
	25% {left:30%;}
	50% {left: 50%;}
	75% {left: 80%;}
	100% {left: 50%;}
}

@-moz-keyframes slide1 /* Firefox */
{
	0% {left:50%;}
	25% {left:30%;}
	50% {left: 50%;}
	75% {left: 80%;}
	100% {left: 50%;}
}

@-webkit-keyframes slide1 /* Safari and Chrome */
{
	0% {left:50%;}
	25% {left:30%;}
	50% {left: 50%;}
	75% {left: 80%;}
	100% {left: 50%;}
}

@-o-keyframes slide1 /* Opera */
{
	0% {left:50%;}
	25% {left:30%;}
	50% {left: 50%;}
	75% {left: 80%;}
	100% {left: 50%;}
} 

@keyframes slide2
{
	0% {left:50%;}
	25% {left:80%;}
	50% {left: 50%;}
	75% {left: 30%;}
	100% {left: 50%;}
}

@-moz-keyframes slide2 /* Firefox */
{
	0% {left:50%;}
	25% {left:80%;}
	50% {left: 50%;}
	75% {left: 30%;}
	100% {left: 50%;}
}

@-webkit-keyframes slide2 /* Safari and Chrome */
{
	0% {left:50%;}
	25% {left:80%;}
	50% {left: 50%;}
	75% {left: 30%;}
	100% {left: 50%;}
}

@-o-keyframes slide2 /* Opera */
{
	0% {left:50%;}
	25% {left:80%;}
	50% {left: 50%;}
	75% {left: 30%;}
	100% {left: 50%;}
} 

#link1{
	animation: slide1 70s linear infinite;
}

#link2{
	animation: slide2 60s linear infinite;
}

#link3{
	animation: slide1 50s linear infinite;
}

#link4{
	animation: slide2 120s linear infinite;
}

#littlestars{
	background: url('images/littlestars.png') 50% repeat;
	width: 2000px;
	height: 3250px;
	position: absolute;
	top: -100%;
	z-index: -1;
}

#bigstars{
	background: url('images/bigstars.png') 50% repeat;
	width: 2000px;
	height: 3250px;
	position: absolute;
	z-index: -2;
	top: -100%;
}
